@font-face {
    font-family: 'welcome_mandalaregular';
    src: url('fonts/welcome_mandala-webfont.woff2') format('woff2'),
         url('fonts/welcome_mandala-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cerayonregular';
    src: url('fonts/cerayon-webfont.woff2') format('woff2'),
         url('fonts/cerayon-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'cerayonregular', sans-serif;
    font-size:16px;
    line-height: 1.5;

    height: 100vh;
    background: repeating-conic-gradient(
        #FEDAEA 0deg 90deg,
        #FACEE2 90deg 180deg
      );
    background-size: 300px 300px; /* Adjust square size */
      
}

section {
    min-height: 100vh;
}

h1 {
    font-family: 'welcome_mandalaregular', sans-serif;
    font-size: 100px;
    margin: 0;
}

.tehillah {
    position: relative;
}

.tehillah:before {
    position: absolute;
    font-family: 'cerayonregular', sans-serif;
    font-size: 36px;
    content: "Hi, I'm"
}

.tehillah:after {
    position: absolute;
    font-family: 'welcome_mandalaregular', sans-serif;
    content: 'KANGAMBA';
    top: 55px;
}

.job-titles {
    font-size: 24px;
    padding-top: 15px;
}

.navbar {
    position: relative;
    margin: 50px 80px;
    width: 40vw;
    min-width: 400px;
    max-width: 700px;
    padding: 20px;

    background-color: #D7DDFD;

}

.navbar:after,
.navbar:before {
    content: '';
    background: #8587AB;
    position: absolute;
}

.navbar:after {
    width: 100%;
    height: 20px;
    left: -10px;
    bottom: 0;
    transform: translatey(100%) skewx(-45deg);
}

.navbar:before {
    width: 20px;
    height: 100%;
    left: 0;
    transform: translatex(-100%) skewy(-45deg);
    top: 10px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #393A50;
    transition: all 0.2s ease-in-out;
}

 .navbar ul li a:hover {
    font-size: 1.3rem;
}

.container-home {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.title-introduction {
   display: inline-block;
}

.speech-bubble {
    display: inline-block;
    position: relative; 
    background: #fff2f2; /* Hexagon color */
    color: #333; /* Text color */
    font-family: Arial, sans-serif; /* Font style */
    font-size: 16px; /* Text size */
    width: 50vw; /* Bubble width */
    max-width: 500px;
    aspect-ratio: 1 / 1;
    text-align: center; /* Center-align text */
    clip-path: polygon(
        55% 5%,   /* Top center */
        100% 28%, /* Top-right corner */
        90% 77%, /* Bottom-right corner */
        30% 90%, /* Bottom center */
        20% 78%,
        0% 71%,
        13% 67%,
        5% 55%,   /* Bottom-left corner */
        17% 19%    /* Top-left corner */
    );
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.speech {
    display: inline-block;
    position: relative;
}

.project-heading {
    position: absolute;
    margin: 0 40px;
}

.projects-parent-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
    height: 700px;
    padding-top: 100px;
}

.main-projects {
    background-color: #393A50;
    width: 400px;

}

.other-projects {
    background-color: #393A50;
    width: 400px;

}

.project1 {
    height: 50%;
    background-color:rgb(173, 196, 188);
}

.project2 {
    height: 50%;
    background-color: #8993a9;
}

#more-projects {
    margin: 10px;
    padding: 10px 50px;
    font-size: 24px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.meet-the {
    position: relative;
}

.meet-the:after {
    position: absolute;
    content: 'CHARACTER';
    top: 55px;
}

.about {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding: 0 100px;
}

.about-content {
    margin: 50px;
    width: 600px;
}

.about-content-position {
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 910px) {
    .about {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        padding: 0 50px;
    }

    .about-content-position {
        display: flex;
        flex-flow: column nowrap;
        gap: 20px;
    }

    .font-resize {
        font-size: 48px;
    }
}

#contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    padding: 0 100px;
    background-color: antiquewhite;
    border: black dashed 2px;
    margin: auto 0;
    width: 90vw;
    height: 50vh;
}

.form-content {
    padding-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 10px;
}

